<li><%= "Departure: #{trip.start_time}" %></li>
<li><%= "Arrival: #{(Time.parse(trip.start_time) + trip.duration_minutes.minutes).strftime('%H:%M')}" %></li>
<li><%= "Travel time: #{trip.duration_minutes / 60}h. #{trip.duration_minutes % 60}min." %></li>
<li><%= "Price: #{trip.price_cents / 100}RUB #{trip.price_cents % 100}kop." %></li>
<li><%= "Bus: #{trip.bus.model} ##{trip.bus.number}" %></li>
